body {
	background-color: #DEF7FF;
}

.button {
	cursor: pointer;
}

#main {
	width: 100%;
	height: 100%;
	float: none;
	text-align: center;
}

#home_menu {
	position: absolute;
	border-width: 5px;
	width: 20%;
	background-color: white;
	top: 10%;
}

#menu_button {
	position: absolute;
	border-width: 5%;
	border-radius: 5%;
	display: block;
}

.menu {
	background-color: white;
	top: 2%;
	left: 2%;
	width: 5%;
	display: block;
}

.menu img {
	width: 100%;
}

#images {
	height: 301px;
	position: absolute;
	}

.images {
	top: 0px;
	display: table;
	table-layout: fixed;
	white-space: nowrap;
	position: absolute;
	}

.images figure {
	display: table-cell;
	text-align: center;
}

figure {
	width: 250px;
	position: relative;
	display: inline-block;
	top: 0px;	
	}

figure img {
	width: 200px;
}

#content {
	display: block;
	top: 30%;
	width: 600px;
	height: 40%;
	background-color: blue;
	margin: 0 auto;
} 

#draw {
	background-color: white;
	display: block;
}

.in {
	display: block;
	width: 80%;
	height: 60%;
	top: 20%;
	margin: 0 auto;
	position: absolute;
	background-color: white;
	border-radius: 10px;
}

#text_input {
	display: block;	
}

#user_text {
	width: 80%;
	height: 20%;
}

#submit_button {
	top: 80%;
	left: 70%;
	position: absolute;
}

#canvas_holder {
		width: 80%;
		height: 90%;
		right: 2%; 
		top: 5%;
		position: absolute;
		background-color: #DEF7FF;
	}

table {
	border-collapse: collapse;
	margin: 4%;
}

td {
	border: 1px solid black;
}

th {
	border-style: none;
}

th, td {
	text-align: center; 
}

#tool_menu {
	top: 10%;
	margin-left: 0%;
	position: absolute;
}

.tools {
	width: 10%;
	position: relative;
	left: 0px;
}

.tools img {
	width: 50%;
	margin: 0 auto;
}

.color {	
	position: relative;
}

.color img {
	width: 100%;
}

#black {
	background-color: black;
}

#yellow {
	background-color: yellow;
}

#red {
	background-color: red;
}

#green {
	background-color: green;
}

#blue {
	background-color: blue;
}

#white {
	background-color: white;
}

.functions {
	margin-left: 3%;
	margin-right: 3%;
}







