body, html {
	background-color: #DEF7FF;
	font-size: 150%; 
	font-family: "Comic Sans MS", cursive, sans-serif; 
}

/**BUTTONS**/

/**all buttons**/
.button {
	cursor: pointer;
	border-radius: 3%;
	display: inline;
}

/**all images (buttons)**/
.button img {
	width: 35px;
	margin: 5px;
	display: inline;
}

/* buttons containing only text*/
.button_text {
	/*width: 90px;
	height: 38px;*/
	display: inline-table;
	background-color: #999999;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
}

.button_text span {
	display: table-cell;
	vertical-align: middle;
}

#header .button_text {
	width: 19%;
	height: 60%;
}

.close_button {
	position: absolute;
	right: 5px;
	top: 5px;
	display: inline-block;
}

.close_button img {
	width: 20px;
}

#start_button img {
	margin-bottom: -4px;
	margin-left: -4px;
}

#start_button {
	position: absolute;
	right: 20px;
	bottom: 9px;
}

#stop_button {
	margin-right: 140px;
}

#pause_stop_holder figure{
	display: inline;
	margin: auto;
}

.stop_pause {
	display : inline-table;
}

.start_stop span {
	text-align: center; 
	display : table-cell;
	vertical-align: middle;
	display: inline;
}

#menu_button {
	display: none;
}


/*CONTAINERS*/
#header_button_wrapper {
	margin-top: 3%;
	text-align: center; 
}

#header {
	width: 100%;
	height: 15%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: white;
}

#footer {
	width: 100%;
	height: 15%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: white;
}

.footer_button_wrapper {
	margin-bottom: 5%;
	text-align: center;
}

.in {
	display: block;
	width: 95%;
	height: 65%%;
	top: 17%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 2%;
}

#about_content {
	padding: 4%;
}

#about_text {
	width: 100%;
	height: 90%;
	overflow-y: scroll;
}

.instructions {
	width: 80%;
	left: 10%;
	top: 0px;
	position: absolute;
	padding: 1%;
	font-size: 150%;
}

.instructions span {
	font-size: 90%; 
}

#single_image_content {
	background-color: #DEF7FF;
	width : 80%;
	left : 20%;
	margin : 5%;
	overflow-y : auto;
}

#single_image {
	/*overflow : auto;
	padding : 2%;*/
}

#images {
	width: 100%;
	top: 17%;
	position: fixed;
	display: inline-block;
}

/*image targets*/
.images {
	top: ;
	/*display: table;
	table-layout: fixed;*/
	vertical-align: top;
	white-space: nowrap;
	position: absolute;
}

.images figure {
	display: inline-table;
	text-align: center;
	vertical-align: middle;
	position: relative;
	top: 0px;	
	margin: 2%;
}

/*TOOL MENU*/

#tool_menu {
	left: 8%;
	bottom: -5%;
	position: relative;
	width: 85%;
	background-color: white;
}

.tool {
	display: inline-table;
	position: relative;
	height: 120%;
	left: -30%;
	padding-bottom: 10%; 
}

table {
	font-size: 90%;
	font-weight: bold;
}

.label {
	transform: rotate(-90deg);
}

#eraser {
  background-image: url("icons/eraser.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

#pencil {
	background-image: url("icons/pencil.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

#black {
	background-image: url("icons/black.svg");
  	background-repeat: no-repeat;
  	background-size: contain;
}

#white {
	background-image: url("icons/white.svg");
  	background-repeat: no-repeat;
  	background-size: contain;
}

#yellow {
	background-image: url("icons/yellow.svg");
  	background-repeat: no-repeat;
  	background-size: contain;
}

#green {
	background-image: url("icons/green.svg");
  	background-repeat: no-repeat;
  	background-size: contain;
}

#blue {
	background-image: url("icons/blue.svg");
  	background-repeat: no-repeat;
  	background-size: contain;
}

#red {
	background-image: url("icons/red.svg");
  	background-repeat: no-repeat;
  	background-size: contain;
}

#bold {
	width: 10%;
	height: initial;
}

#thin {
	width: 10%;
	height: initial;
	font-weight: normal;
}





/*MOBILE*/
#menu_button.mobile {
	display: inline;
}

#header .button_text.mobile {
	display: none;
}


/*DRAWING CONTAINERS*/
#draw {
	background-color: white;
	display: block;
}

#canvas_holder {
	width: 80%;
	height: 70%; 
	left: 10%;
	top: 25%;
	position: absolute;
	margin: 1%;
	background-color: #DEF7FF;
	cursor: crosshair;
}

.function {
	position: relative;
	bottom: 0px;
	margin-bottom: 0;
	margin-left: 1.5%;
	margin-right: 2%;
	float: right;
	padding: 1%;
	background-color: #999999;
	width: 15%;
	text-align: center;
}

#functions {
	position: absolute;
	bottom: 2%;
	display: block;
	width: 100%;
}


/*TEXT FORM*/
#text_label {
	left: 10px;
	top: 10px;
}

#text_input {
	position: absolute;
	top: 70px;
	left: 20px;
	width: 100%;
}

#user_text {
	width: 90%;
	
}

#submit_button {
	position: absolute;
	top: 70px;
	right: 40px;
	
}













